


.left-form {
    -fx-background-color: #2c3e50;
    -fx-padding: 20;
}

.right-form {
    -fx-background-color: #ecf0f1;
    -fx-padding: 20;
}


.fa-icon {
    -fx-icon-color: #ffffff;
    -fx-icon-size: 80;
}


.close-icon {
    -fx-icon-color: #e74c3c;
}


.label {
    -fx-text-fill: #ffffff;
    -fx-font-family: Tahoma;
}


.welcome-label {
    -fx-text-fill: #2c3e50;
    -fx-font-family: "Tahoma Bold";
    -fx-font-size: 17px;
}


.textfield {
    -fx-background-color: #ffffff;
    -fx-text-fill: #2c3e50;
    -fx-prompt-text-fill: #95a5a6;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #bdc3c7;
    -fx-padding: 0 0 0 5;
}


.login-btn {
    -fx-background-color: #3498db;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 5;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.login-btn:hover {
    -fx-background-color: #2980b9;
}
